/*For Popup!*/
/* I am not good at styling so any help is appreciated!*/

body {
    background-color: #EEE;
}

#min20 {
    text-align: center;
    font-family: 'Kalam', cursive;  
    font-size: 25px;
}
